.li {
    float: left;
    margin-top: 13px;
    font-size: 20px;
    list-style-type: none;
  }

  .backgroundcolorgrey{
    background-color: rgb(34, 34, 34);    
  }
  .center{
    text-align: center;  
  }
 
  body{
    background-color:#E9ECEF;
    
  }



  h3,h1{
    color:crimson;


  


  }

  .cizgikaldir{
    text-decoration: none;

    }
    footer {
      margin-top: 250px;
      position: fixed;
      bottom: 0px;
      left: 0px;
      width: 100%;
      height: 25px;
      padding: 2px;;
      background-color: rgb(61, 61, 61);
      color: rgb(218, 71, 71);
  }
